body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #0c0f1d;
  color: #fff;
}

.contact-section {
  padding: 100px 10%;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.contact-left {
  max-width: 45%;
}

.contact-left h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.contact-left p {
  margin: 20px 0;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #cfd3e0;
}

.contact-btn {
  background: linear-gradient(90deg, #ff6b3d, #d93a4a);
  border: none;
  color: white;
  padding: 15px 35px;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  width: 260px; 
  text-align: center;
}


.contact-btn:hover {
  transform: scale(1.05);
}

.contact-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ff6b3d, #d93a4a);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.contact-info h3 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.contact-info p,
.contact-info a {
  margin: 5px 0 0;
  color: #cfd3e0;
  text-decoration: none;
  transition: 0.3s;
}

.contact-info a:hover {
  color: #ff6b3d;
}