<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TLC-Sign In</title>
  <link rel="stylesheet" href="{% static 'css/singup_in.css' %}" />
</head>
<body>
  <div class="signup_in-container">
    <h1>Welcome Back to TLC</h1>
    <p class="subtitle">Access your account and continue your journey.</p>

    <form class="signup_in-form">
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username_singin" type="text" placeholder="Enter username" required />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input id="password_singin" type="password" placeholder="Enter your password" required />
      </div>

      <button type="submit" class="btn-gradient">Sign In</button>
    </form>

    <p class="footer-text">
      Don’t have an account?
      <a href="{% url 'singup' %}" class="link">Create One</a>
    </p>
  </div>

  <footer>© 2025 TLC. All rights reserved.</footer>
</body>
</html>
